@charset "UTF-8";
/* CSS Document */
/*HW: Set the top nav to have the following styles*/
.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav a {
/*HW: set the links within the nav to have the following*/
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 15%;
	margin-left: 1em;
	margin-right: 1em;
}
/*HW: Set all sections to have a max-width of 100%, this will allow for more items to fill the screen on large devices*/
.section {
  max-width: 100%;
}

.boxes div {
/*HW: Set the divs directly inside the boxes element to have the following styles*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  margin: 10px;
}

/*HW: Set the boxes element to have the following styles*/
.boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer {
  /*HW: finally set the footer element to have the following styles*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}